<!-- GP counter ticks down as GP is spent -->
<div class="col s12 blue" style="text-align:center">
<!-- <button ng-click="updateGP()">Update GP Total</button> -->
<!-- GP total updates when button is clicked -->
  <span>0</span> GP
</div>

<!-- dialogue bar: narration appears here -->
<div class="dialogueBar">
  <p>{{message}}
</div>

<!-- enemy portrait appears here -->
<div class="monsters">
  <img ng-src={{monster.portrait}}>
</div>


<!-- bottom left menu: populate with character info -->
<div class="row">
  <div class="col s6 menu leftMenu">
  <img ng-src={{playerCharacter.avatar}} style="width:50px;height:50px">
  <p style="display:inline-block">{{playerCharacter.userName}} |</p>
  <p style="display:inline-block">HP: {{playerCharacter.health}}/10</p>
  <button ng-click="getGP()">{{loginButton}}</button>
  </div>
  <!-- character portrait -->
  <!-- <current HP total -->

  <!-- bottom right menu: menu selections: attack, etc-->
  <div class="col s6 menu rightMenu">
  <!-- attack button: starts attack sequence -->
    <button class="action" ng-click="attackSequence()">ATTACK</button>
  <!-- health potion: costs 1GP, fills up health -->
    <button class="potion" ng-click="healthPotion()">HEALTH POTION</button>
  <!-- flee button: emergency end to battle, 50% chance of failure -->
    <button class="flee" ng-click="flee()">FLEE</button>
  </div>
</div>
