<!-- GP counter ticks down as GP is spent -->
<div class="col s12 blue" style="text-align:center">
  {{(playerCharacter.GPcounted - playerCharacter.GPspent)}} GP
</div>

<!-- dialogue bar: narration appears here -->
<div class="dialogueBar">
  <p>{{message}}
</div>

<!-- enemy portrait appears here -->
<div class="monsters">
  <img ng-src={{playerCharacter.monster.portrait}}>
</div>


<!-- bottom left menu: populate with character info -->
<div class="row">
  <div class="col s6 menu leftMenu">
    <img class="avatar" ng-src={{playerCharacter.avatar}}>
    <p class="stats">{{playerCharacter.userName}} |</p>
    <p class="stats">HP: {{playerCharacter.health}}/10 |</p>
    <p class="stats">Monsters Slain: {{playerCharacter.kills}}</p>
    <button ng-click="loginToGithub()">{{loginButton}}</button>
  </div>

  <!-- bottom right menu: menu selections: attack, etc-->
  <div class="col s6 menu rightMenu">
  <!-- attack button: starts attack sequence -->
    <button class="action" ng-click="attackSequence()">ATTACK</button>
  <!-- health potion: costs 1GP, fills up health -->
    <button class="potion" ng-click="healthPotion()">HEALTH POTION</button>
  <!-- flee button: emergency end to battle, 50% chance of failure -->
    <button class="flee" ng-click="flee()">FLEE</button>
  </div>
</div>
