<!-- GP counter ticks down as GP is spent -->
<!-- <div class="col s12 blue gitTracker" >
  {{(playerCharacter.GPcounted - playerCharacter.GPspent)}} GP
</div> -->

<!-- dialogue bar: narration appears here -->
<div class="dialogueBar">
  <p>{{message}}</p>
</div>

<!-- enemy portrait appears here -->
<div class="monsters">
  <div class="row"></div>
  <img ng-src={{playerCharacter.monster.portrait}}>
</div>


<!-- bottom left menu: populate with character info -->
<!-- <button ng-click="getRepoList()">Get Repo List</button> -->
<!-- GP counter ticks down as GP is spent -->
<footer>
<div class="row">
  <div class="col s6 menu leftMenu">
    <img class="avatar" ng-src={{playerCharacter.avatar}}>
    <p class="stats">{{playerCharacter.userName}} |</p>
    <p class="stats">HP: {{playerCharacter.health}}/10 |</p>
    <p class="stats">{{(playerCharacter.GPcounted - playerCharacter.GPspent)}} GP |</p>
    <p class="stats">Monsters Slain: {{playerCharacter.kills}}</p>
    <a ng-click="loginToGithub()" href="#/" ng-hide="playerCharacter.uid" class="action">{{loginButton}}</a>
    <a class=" action modal-trigger" ng-show="playerCharacter.uid" href="#modal1">> Mine for gold! <</a>
  </div>

  <!-- bottom right menu: menu selections: attack, etc-->
  <div class="col s6 menu rightMenu">
  <!-- attack button: starts attack sequence -->
    <a class="action" ng-click="attackSequence()" href="#/">ATTACK</a>
  <!-- health potion: costs 1GP, fills up health -->
    <a class="action" ng-click="healthPotion()" href="#/">HEALTH POTION</a>
  <!-- flee button: emergency end to battle, 50% chance of failure -->
    <a class="action" ng-click="flee()" href="#/">FLEE</a>
  </div>
</div>
</footer>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Turn your commits into GP.</h4>
    <label>Type in the name of your repository to mine it for a maximum of 30GP!</label>
    <input type="text" placeholder="enter repo name here!" ng-model='repoToSearch'/>

    </div>
    <div class="modal-footer">
      <a href="#/" ng-click="getGP()" class=" modal-action modal-close waves-effect waves-green btn-flat">Git to mining</a>
    </div>
  </div>
